.promo{
  width: 100%;
  background: #403C3B;
  .promo-text{
    width: 829px;
    height: 484px;
    color: #fff;
    background: rgb(64,60,59);
    background: linear-gradient(90deg, rgba(64,60,59,1) 50%, rgba(255,255,255,0) 100%);
  }

  .wrapper{
    height: 484px;
    max-width: 1440px;
    margin: 0 auto;

    background: url('../../../public/promo-bg.png');
    background-repeat: no-repeat;
    background-position: right;
  }
}


/*
background: rgb(64,60,59);
background: linear-gradient(90deg, rgba(64,60,59,1) 50%, rgba(255,255,255,0) 100%);

*/