
.about{
  width: 100%;
  background: rgba(33, 31, 32, 1);

  &__container{
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .about-text{
      color: #CFCFCF;
      z-index: 1;
      width: 50%;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      font-family: 'Montserrat Alternates', sans-serif;

      h2{
        font-size: 32px;
        margin: 100px 0px 25px 0px
      }
    }

    .about-cards{
      display: grid;
      grid-template-columns: 228px 228px;
      grid-template-rows: 228px 228px;
      grid-gap: 30px;
      padding-top: 70px;

      &__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(80, 75, 74, 0.7);
        backdrop-filter: blur(10px);
        p{
          margin-top: 20px;
        }
      }

      &__card:hover{
        background: rgba(80, 75, 74, 0.9);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        color: rgba(121, 178, 130, 1)
      }
    }
  }

  .wrapper{
    background: url('../../../public/about-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 610px;
    max-width: 1363px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 70px;
  }

  &__shadow{
    height: 610px;
    width: 388px;
    position: absolute;
    right: 558px;
    background: linear-gradient(to right, rgba(33, 31, 32, 1), rgba(68, 64, 63, 0));
  }

  &__btn{
    width: 223px;
    height: 59px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #fff;
    margin-top: 60px;
    font-size: 17px;
    cursor: pointer;
    &:hover{
      background: rgba(255, 255, 255, 0.1);
      transition: all 0.3s ease-in-out;
      color: rgba(121, 178, 130, 1)
    }
  }

}

// .about-svg{
//   fill: rgba(121, 178, 130, 1) !important;
// }




