.food{
  width: 100%;
  // background: linear-gradient(360deg, #211F20 0%, #44403F 100%);
  background: rgba(33, 31, 32, 1);
  .wrapper{
    max-width: 1440px;  
    margin: 0 auto;
    padding-top: 30px;
  }

  h3{
    border-left: 5px solid #618967;
    font-size: 32px;
    padding-left: 20px;
    color: #fff;
    text-transform: uppercase;
  }

  .swiper-container{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  hr{
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}



@media screen and (min-width: 319px) {
  .swiper-container {
    width: 340px;
  }
}


@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .swiper-container {
    width: 1440px;
  }
}