
header{
  background: #403C3B;
  box-shadow: 0px 30px 60px rgba(34, 31, 32, 0.2);
  font-family: 'Montserrat Alternates', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
  .wrapper{
    .h1{
      position: absolute;
      z-index: -1000;
      opacity: 0;
    }
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1440px;
    height: 99px;
    margin: 0 auto;
  
    .search-input{
      width: 555px;
      height: 52px;
      background: #504B4A;
      border-radius: 10px;
    }
  
    .calling_svg{
      fill: white !important;
      width: 50px;
      height: 50px;
    }
  
    .calling_svg:hover{
      fill: rgb(21, 37, 180) !important;
      transition: 1.2s all ease-in-out;
      cursor: pointer;
    }

    .header__contacts{
      font-family: 'Montserrat Alternates', sans-serif;
      display: flex;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: #CFCFCF;

      p{
        font-family: 'Montserrat Alternates', sans-serif;
      }
    }

    .cart-btn{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 149px;
      height: 52px;
      background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
      border-radius: 10px;
      color: #fff;
      font-size: 20px;
      border: none;
      cursor: pointer;
      &__counter{
        background-color: #fff;
        display: inline-block;
        color: black;
        width: 30px;
        height: 30px; 
        border-radius: 50%;
        line-height: 30px;
      }
      &:hover{
        background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
        box-shadow: 0px 5px 10px rgba(114, 163, 121, 0.7);
        transition: all .3s ease-in-out;
      }
    }
  }
}
