.contacts{
  width: 100%;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #fff;
  margin-top: -120px;
  background: rgba(33, 31, 32, 1);



  .wrapper{
    max-width: 1440px;
    height: 700px;
    margin: 0 auto;
    background: url('../../../public/contacts-bg_.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

    -webkit-box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.55);
  }

  .container{
    width: 526px;
    height: 405px;
    background: #2E2B2C;
    border-radius: 15px;
    position: absolute;
    padding: 20px;
    margin: 150px 0 0 calc(5% + 20px);
    -webkit-box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.55);
  }

  &__adress, &__email{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    p{
      margin-left: 10px;
    }
  }

  h2{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
  }

  &__btn{
    width: 211px;
    height: 59px;
    color: #fff;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;

    &:hover{
      background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
      box-shadow: 0px 5px 10px rgba(114, 163, 121, 0.7);
      transition: all .3s ease-in-out;
    }
  }

  &__phone-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__phone{
    font-size: 23px;
    font-weight: bold;
  }

  &__hr{
    margin: 20px 0;
    height: 1px;
    border: none;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.1516981792717087) 0%, rgba(91,91,91,1) 50%, rgba(0,0,0,0.1516981792717087) 100%);   
  }

  &__icon{
    color: #618967;
  }
}